.container{
    /* background-color: red; */
    width: 90%;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
}
label{
    display: block;
}
.row1{
    /* background-color: greenyellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.row1 .input_field input{
    width: 90%;
    padding: 0.5em 0.8em;
    outline: none;
    border-radius: 0.5em;
    border: none;
}
.row2{
    /* background-color: greenyellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}
.textarea_field{
    margin: 0 auto;
    /* background-color: red; */
}
.textarea_field textarea{
    /* width: 100%; */
    padding: 0.5em 0.8em;
    outline: none;
    border-radius: 0.5em;
}
.row3{
    margin-top: 1em;
}
.row3 .input_field{
    display: flex;
    justify-content: space-around;
}
.row3 .input_field label{
    display: inline;
}
.row4{
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}
.row4 .select_field1{
    /* background-color: red; */
    width: 40%;
}
.row4 .select_field1 select{
    width: 100%;
    padding: 0.5em 0.8em;
    outline: none;
    border-radius: 0.5em;
}